img {
  width: 370px;
      height: 310px;
    
    border-radius: 1000px;
}
head {
    text-align: center;
}
#topic {
    background: linear-gradient(#60ebeb 0%, #27ae60 100%);
    text-align: center;
}
#description {
    background: linear-gradient(red 0%, fuchsia 100%);
    text-align: center;
}
h3 {
    font-size: 40px;
}